<div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='vasldkfjlqwkje'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/15fc6cd675f18beea5df56fb4fd3d45d.png' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;kevin:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 5:04 pm</span></br>testtttttttt</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='vasldkfjlqwkje'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/15fc6cd675f18beea5df56fb4fd3d45d.png' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;kevin:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 5:04 pm</span></br>lols</p></p><br><p class='boris'style='clear:both'>BMANNN: testing <br>--December 12, 2014, 12:41 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: weird <br>--December 12, 2014, 12:29 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: so its cuz i had it opened <br>--December 12, 2014, 12:29 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: there we go <br>--December 12, 2014, 12:28 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: whyyyyyy <br>--December 12, 2014, 12:28 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: asdfkajsdhjk <br>--December 12, 2014, 12:28 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: testing again <br>--December 12, 2014, 12:24 pm </p><br><p class='vasldkfjlqwkje'style='clear:both'>kevin: test <br>--December 12, 2014, 12:22 pm </p><br>