<div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:34 pm</span></br> ,,mm,</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='boris'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/d88a7c68ead47ed33facf92f0aa8bb0f.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;BMANNN:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:18 pm</span></br> nkjjk</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:18 pm</span></br>jkjkbj</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:9.5px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:17 pm</span></br>nkllk</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:17 pm</span></br>sfdsf</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:11px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 2:16 pm</span></br>bkjbhhj</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:11px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='boris'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/d88a7c68ead47ed33facf92f0aa8bb0f.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;BMANNN:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 1:23 pm</span></br>bj</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:7px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:5px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 1:18 pm</span></br>jkbj</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:51px;margin-left:7px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:49px;margin-left:5px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 1:17 pm</span></br>kjjb</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 20px solid transparent;border-right: 20px solid transparent;
	border-bottom: 20px solid #D9E0E6; margin-top:51px;margin-left:7px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 22px solid transparent;
    border-right  : 22px solid transparent;
    border-bottom : 22px solid #414042;margin-top:49px;margin-left:5px;'></div></div><p class='boris'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/d88a7c68ead47ed33facf92f0aa8bb0f.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;BMANNN:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 1:08 pm</span></br>kjjjkjk</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 20px solid transparent;border-right: 20px solid transparent;
	border-bottom: 20px solid #D9E0E6; margin-top:51px;margin-left:7px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 22px solid transparent;
    border-right  : 22px solid transparent;
    border-bottom : 22px solid #414042;margin-top:49px;margin-left:5px;'></div></div><p class='tshum741'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/default_profile.jpg' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tessa Shum:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 16, 2014, 1:07 pm</span></br>dfg</p></p><br>