<div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='zfoolgenius'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/2b352283e3f9904d92daf194d2f9b0ab.JPG' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tony Song:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 18, 2014, 8:29 pm</span></br>adjsfkl;sadjflsakjfl;skad dsfadsfasdfsadf sdaf asdf asd f sadf dsf sadf dsa f sda fd sf as df asd fa sdf as dfds af sadf asd f asd f</p></p><br><div style='position:relative'><div style='position:absolute;z-index:100;width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;
	border-bottom: 10px solid #D9E0E6; margin-top:61px;margin-left:10px;'></div><div style='    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-left   : 12px solid transparent;
    border-right  : 12px solid transparent;
    border-bottom : 12px solid #414042;margin-top:59px;margin-left:8px;'></div></div><p class='zfoolgenius'style='clear:both'> </br>&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://localhost/wrevel/uploads/2b352283e3f9904d92daf194d2f9b0ab.JPG' style='width:40px; height:40px;border-radius: 150px;'/>&nbsp;&nbsp;Tony Song:
	    <p style='border:1px solid #414042;border-radius:10px;padding:10px;'><span class='pull-right'>December 18, 2014, 8:29 pm</span></br>al;ksdjfaldk;sjfasd f sadf sad f sda f asdf dsa f asd fa sdf asd f asd f asd fa sdf asd f asd f</p></p><br><p class='zfoolgenius'style='clear:both'>Tony Song: kl;qjrewlr <br>--November 7, 2014, 3:17 pm </p><br><p class='zfoolgenius'style='clear:both'>Tony Song: dkslafj <br>--November 7, 2014, 3:17 pm </p><br><p class='zfoolgenius'style='clear:both'>Tony Song: ? <br>--November 7, 2014, 12:42 pm </p><br><p class='rubiechen'style='clear:both'>rubiechen: lk <br>--October 16, 2014, 4:31 pm </p><br>